{% extends "layout.html" %}

{% block title %}
    Graphics
{% endblock %}

{% block main %}


    <head>
        <title>Economic Growth Results </title>
    </head>

    <body>
        <h2>Comparing Sollow variables over two countries</h2>
        <p></p>
        <p>In this section, after we transform varibles of the raw data in the variables that will be used in Sollow Model,
            we compare over two countries this variables.
            <p></p>

            <p>Select two countries to compare:</p>
            <p></p>
            <form action="/sollowvar" method="post">
                <label for="country1">Choose the first country:</label>
                <select id="country1" name="country1">
            <!-- As opções serão preenchidas aqui -->
                    {% for row in countries %}
                        <option value="{{ row }}">{{ row }}</option>
                    {% endfor %}
            <!-- Adicione mais opções conforme necessário -->
                </select>
                <label for="country2">Choose the second country:</label>
                <select id="country2" name="country2">
            <!-- As opções serão preenchidas aqui -->
                    {% for row in countries %}
                        <option value="{{ row }}">{{ row }}</option>
                    {% endfor %}
            <!-- Adicione mais opções conforme necessário -->
                </select>
                <input type="submit" value="Submit">
            </form>
            <p></p>
            {{ fig1|safe }}
            <p></p>
            {{ fig2|safe }}
            <p></p>
            {{ fig3|safe }}
            <p></p>
            {{ fig4|safe }}
            <p></p>
            {{ fig5|safe }}
            <p></p>


{% endblock %}
