body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header h1 {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}
.content {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
}
h2 {
    color: #333;
    text-align: left
}



ul
{
    text-align: left;
}

li
{
    text-align: left;
}

.card
{
    padding-left:20px;
}

.accordion
{
    text-align: justify;
}

.navbar-toggler
{
    float: left;
}
p
{
    text-align: justify;
}

