h1
{
    text-align: center;
}

h2
{
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: left;
}
h3
{
    text-align: left;
}


h4
{
    margin-left: 20 px;
    text-align: left;
}

h5
{
    margin-left: 20 px;
    text-align: left;
}


h6
{
    text-align:justify;
}

ul
{
    text-align: left;
}

.card
{
    padding-left:20px;
}

.accordion
{
    text-align: justify;
}

.navbar-toggler
{
    float: left;
}
p
{
    text-align: justify;
}

