{% extends "layout.html" %}

{% block title %}
    Economic Growth
{% endblock %}


{% block main %}


<head>
    <title>Economic Growth </title>
</head>
<body>

    <h2>Penn World Table 10.01</h2>

    <p>The Penn World Table (PWT) is a comprehensive database of national accounts economic data.
        It provides international comparisons of economic performance, including measures of productivity, income,
        and price levels across countries and over time. The data is designed to allow for robust comparisons of economic
        activity, accounting for differences in price levels and the cost of living between countries. </p>
    <p> The PWT includes a variety of variables that are essential for economic analysis, such as GDP, consumption,
        investment, and capital stock, adjusted for purchasing power parity (PPP).</p>
    <p>Here we extract data from penn world table to analysing growth economy of countries using the Sollow model.</p>

    <h2>Key Features of the Penn World Table</h2>
        <ul>
            <li><b>Purchasing Power Parity (PPP) Adjustments</b>: PWT data is adjusted for PPP, which allows for more accurate comparisons of
                economic output and living standards across countries.
            </li>
            <li><b>Longitudinal Data</b>: PWT provides data over an extended period, enabling analysis of economic trends and growth patterns.</li>
            <li>
                <b>Wide Coverage</b>: The database includes a large number of countries, both developed and developing,
                providing a comprehensive view of the global economy
            </li>
       </ul>

<h2>Using the Penn World Table for Economic Analysis</h2>

    <p>Here’s how you can use the PWT to derive key economic indicators for analysis:</p>
    <ul>
        <li>GDP Growth Rate: Calculate the year-over-year percentage change in rgdpe or rgdpo.</li>
        <li>Savings Rate: Use csh_i to determine the share of GDP invested in capital formation.</li>
        <li>Population Growth Rate: Calculate the year-over-year percentage change in pop.</li>
        <li>Technological Progress: Use rtfpna to analyze changes in total factor productivity.</li>
        <li>Capital Stock: Use cn to measure the total value of capital available in the economy.</li>
    </ul>


    <h2>Choose a country to see all economic variables used in this work</h2>
    <p></p>

    <form action="/pwt" method="post">
        <label for="countries">Choose a country:</label>
        <select id="countries" name="countries">
            <!-- As opções serão preenchidas aqui -->
            {% for row in countries %}
            <option value="{{ row }}">{{ row }}</option>
            {% endfor %}
            <!-- Adicione mais opções conforme necessário -->
        </select>

        <input type="submit" value="Submit">
    </form>
    <div class="container mt-5">
        <h3 class="mb-4">Economic growth data</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>country</th>
                    <th>year</th>
                    <th>rgdpe</th>
                    <th>popul</th>
                    <th>emp</th>
                    <th>hc</th>
                    <th>cn</th>
                    <th>rtfpna</th>
                    <th>delta</th>
                    <th>csh_i</th>
                 </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.country }}</td>
                        <td>{{ row.year }}</td>
                        <td>{{ row.rgdpe }}</td>
                        <td>{{ row.popul }}</td>
                        <td>{{ row.emp }}</td>
                        <td>{{ row.hc }}</td>
                        <td>{{ row.cn }}</td>
                        <td>{{ row.rtfpna }}</td>
                        <td>{{ row.delta }}</td>
                        <td>{{ row.csh_i }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Adicione os scripts do Bootstrap (jQuery e Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


{% endblock %}
