{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}

<h1>Wellcome to Economic Growth Home Page! </h1>
<p></p>
        <p>In these days, globalization is a fact: nations needs to each other to grow up and development themselves.
            But do you know how a country grows?</p>
        <p>In this web page, I'll try to show how a country grow and develop, and which
            are the indicators that we need to observer to understand better about growth of nations.
            To do this, we will analize and data called penn world table, that has many indicators usually used to mesure
            growth of a country.</p>
        <p>For implement this we use variables we get in penn world table at <a href="https://www.rug.nl/ggdc/productivity/pwt/?lang=en"> Pennn World Table</a>,
            download the data in csv file, and after do some analysis about which variables will be used, we transform this csv
            in a database called growth.db to store the data that will be use.
        <p> We treated this data, using pandas library and after it we used to mesure the growth of an nation adopting the Sollow Model</p>
        <p> I hope this have utility from people that like economic topics.</p>
        <p>If you have any suggestions, sent me an email <a href="mailto:henrique.carli@gmail.com">here</a></p>


{% endblock %}
